{{ partial "home-header.html" . }}
<div id="hero-pattern">
<header class="header site-header grid-x grid-padding-y align-middle">
    <a class="cell shrink" href="{{.Site.BaseURL}}">
        <div class="site-logo">
            {{ partial "svg/DIS-logo.svg" }}
        </div>
    </a>
    
    {{ partial "nav" . }}
</header>

{{ with .Site.GetPage "/about" }}
    <header class="grid-x hero align-center align-middle">

        <div class="cell medium-10 large-8 grid-x grid-margin-x">
            <h1 class="cell text-right">
                DIS 2019
            </h1>

            <p class="cell text-right" style="padding-right: .5em;">{{ .Title }}</p>

            
            <h2 class="cell large-7 uppercase text-right">
                Contesting borders and intersections
            </h2>

            <section class="cell large-5 grid-x  align-middle" style="padding-right: .5em;">
                    <p class="cell text-right">June 23 to 28, 2019<br/>
                        San Diego, California</p>
            </section>
        </div>
    </header>
</div>

<main id="main" class="main">
<section class="grid-x align-center darkish">
    <main class="cell medium-10 large-9 grid-x grid-margin-x grid-padding-x grid-margin-y grid-padding-y">
        <div class="cell medium-auto small-12 markdown">
            <h1 class="text-center" style="font-size: 1rem; line-height: 1.6rem;">
                Designing Interactive Systems (DIS) 2019 <br/>
                International Conference Series <br/>
                Sunday June 23 to Friday June 28 2019
            </h1>

            <br/>

            {{ .Content }}
        </div>
        <div class="cell medium-auto small-12 grid-x grid-margin-x grid-margin-y align-top">
            <div class="cell auto">
                <img  src="/img/DIS-logo-orange.svg"/>
            </div>

            <div class="cell grid-x">
                <h1 class="cell">Key Dates:</h1>
                <ul class="cell">
                {{ range $.Site.Data.keyDates }}
                    <li>
                       <strong>
                           {{ .event }}:   
                       </strong>  

                        {{ .date }}
                    </li>
                {{ end }}
                </ul>
            </div>
        </div>
    </main>
</section>

{{ end }}

    

<section class="grid-x grid-padding-x grid-padding-y grid-margin-y align-center cream" id="colocate">
    <div class="cell medium-6 text-center">
        We are excited to co-locate our conference with 
        <strong> Creativity and Cognition 2019.</strong> 
        There will be some overlapping programs to strengthen the 
        dialogues between our related communities.
    </div>
</section>

</main>

{{ partial "footer.html" . }}
