{{ partial "home-header.html" . }}
<div class="grid-x">
    <div class="cell" id="hero-pattern">
        {{ partial "svg/long-v.svg" }}
    </div>
</div>

<header class="header site-header grid-x grid-padding-y align-middle">
    <a class="cell shrink" href="{{.Site.BaseURL}}">
        <div class="site-logo">
            {{ partial "svg/DIS-logo.svg" }}
        </div>
    </a>
    
    {{ partial "nav" . }}
</header>

    <header class="grid-x hero align-center align-middle">

        <div class="cell medium-10 large-8 grid-x grid-margin-x">
            <h1 class="cell text-right">
                DIS 2019
            </h1>

            <p class="cell text-right" style="padding-right: .5em;">{{ .Title }}</p>

            
            <h2 id="hero-anchor" class="cell large-7 uppercase text-right">
                Contesting borders and intersections
            </h2>

            <section class="cell large-5 grid-x  align-middle" style="padding-right: .5em;">
                    <p class="cell text-right">June 23 to 28, 2019<br/>
                        San Diego, California</p>
            </section>
        </div>
    </header>

<main id="main" class="main">
<section class="grid-x align-center darkish">
    <main class="cell medium-12 large-9 grid-x grid-margin-x grid-padding-x grid-margin-y grid-padding-y">
        <div class="cell medium-auto small-12 markdown">
            <h1 class="text-center" style="font-size: 1rem; line-height: 1.6rem;">
                Designing Interactive Systems (DIS) 2019 <br/>
                International Conference Series <br/>
                Sunday June 23 to Friday June 28 2019
            </h1>

            <br/>
            
            {{ with .Site.GetPage "about" }}
                {{ .Content }}
      
            {{ end }}

                      
            The ACM conference on <strong>Designing Interactive Systems (DIS)</strong> is the premier international and interdisciplinary conference encompassing all issues related to the design and deployment of interactive systems where designers, artists, theorists, psychologists, user experience researchers, systems engineers and many more come together to debate and shape the future of interaction systems research, design, and practice.
<br/><br/>
            The theme for <strong>ACM DIS2019 is "Contesting Borders and Intersections."</strong> Both borders and intersections are simultaneously about separation, margins, and friction as well as opportunities, promises, and imaginaries where alternative and diverse modes of engagements can be made possible and unfold. With this theme, we encourage submissions that critique, resist, and/or reimagine taken-for-granted boundaries in interactive design research and practices, as well as those that present innovative thinking, and creative or provocative interaction design.
<br/><br/>
We are excited to co-locate our conference with <a href="http://cc.acm.org/2019">
            <strong>Creativity and Cognition 2019</strong></a>. There will be some overlapping programs to strengthen the dialogues between our two related communities.


        </div>
        <div class="cell medium-auto small-12 grid-x grid-margin-x grid-margin-y align-top">
            <div class="cell auto">
                <img  src="/img/DIS-logo-orange.svg"/>
            </div>

            <div class="cell grid-x">
                <p class="cell">
                    Art Exhibition:<br/>
                    A DIS2019 and C&C2019 Joint Program <br/>
                    The theme of the Art Exhibition is Interlace. <br/>
                    <br/>
                    From the CFP:<br/>
                    "We are inherently intertwined with myriad systems with myriad agencies.
                    And most of these systems are not primarily about us, we just live there. 
                    Some of these conditions are better engaged with enhanced visibility and cogence, and for others, 
                    it makes no difference." <br/>
                    
                    <a href = "https://dis2019.com/artexhibition/"> Learn more and participate</a>!
                </p>

              
           
            </div>
        </div>
    </main>
</section>
    

<section class="grid-x grid-padding-x grid-padding-y grid-margin-y align-center align-middle cream" id="colocate">
    <div class="cell small-12 medium-6 text-center">
       We are excited to announce DIS2019 keynote speakers: 
        <a href = "https://lsa.umich.edu/ac/people/faculty/lnakamur.html"> Lisa Nakamura (University of Michigan)</a>
                   and 
        <a href = "http://www.daniellerwood.com/"> Danielle Wood (MIT Media Lab)</a>.
            The DIS2019/C&C joint keynote speakers are 
        <a href = "http://www.letitripple.org/about/tiffany-shlain/">Tiffany Shlain</a> 
        and <a href = "https://goldberg.berkeley.edu/">Ken Goldberg</a>. More info about their talks will follow.
        
   
    </div>

</section>

</main>

{{ partial "footer.html" . }}
